body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: white;
}

.fa-mountain-city{
    color: #ff3668;
}

.nav-link{
    color: #222222 !important;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}

.f-info{
    text-align: center;
    display: flex;
    background-color: #ebebeb;
    justify-content:center ;
    flex-wrap: wrap;
    align-items:space-evenly;
}   

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}


.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.listing-link{
    text-decoration: none !important;
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn,.edit-btn{
    background-color: #e63561 !important;
    border: none !important;
}

.show-img{
    height: 30vh !important;
}

.btns{
    display: flex;
}

.show-h2{
   text-transform: uppercase;
   
}

#map{
    height:50vh;
    width: 100vh;
    border-radius: 1rem;
    padding: 2rem;
    border:1px solid black;
    box-shadow: black;
}